
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card card-category">
                        <a href="#" class="img-wrap" style="background: #dee4ff">
                            <img src="images/items/3.jpg">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title"><a href="#">@item.Name</a></h4>

                        </div>
                    </div>
                </div> <!-- col.// -->
            }

        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->