
@{
    ViewBag.Title = "Components";
}
<section class="section-content padding-y">
    <div class="container">

        <header class="section-heading">
            <h2 class="section-title">Tất cả các thành phần </h2>
        </header><!-- sect-heading -->

        <article>

            <p>Vui lòng mở thư mục <i class="fa fa-folder text-warning"></i> /<strong><a target="_blank" href="_HTML-Components/">HTML-Components</a></strong> </p>
            <p>Mỗi thành phần được tạo trong tệp riêng biệt</p>



        </article>


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->