@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Một cách của Microsoft<br />
    Redmond, Tây Úc 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Ủng hộ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                                                                                           <strong>Tiếp thị:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>